<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pojo.web.dao.houseMapper">

	<select id="selectAllHouse" resultMap="houseBase">
		select * from HOUSE ORDER BY HOUSE_NO DESC
	</select>
	<select id="selectByIdHouse" parameterType="String" resultMap="houseBase">
		select * from HOUSE where member_id = #{id}
		ORDER BY HOUSE_NO DESC
	</select>
	
	<select id="selectByNoHouse" parameterType="int" resultMap="houseBase">
		select * from HOUSE where HOUSE_NO = #{houseNo}
		ORDER BY HOUSE_NO DESC
	</select>
	
	<select id="searchHouses" parameterType="map" resultMap="houseBase">
		select * from (
			select sub.*, rownum as rnum from(
				select * from HOUSE
				where HOUSE_ADDRESS LIKE '%'||#{key}||'%'
				order by HOUSE_NO desc
			) sub
		) where rnum &gt;= #{low,jdbcType=NUMERIC} and rnum &lt;= #{high,jdbcType=NUMERIC}
	
		<!-- select * from HOUSE where HOUSE_ADDRESS LIKE '%'||#{houseAddress}||'%'
		ORDER BY HOUSE_NO DESC -->
	</select>

	<insert id="insertHouse" parameterType="house">
	<selectKey keyProperty="houseNo" resultType="int" order="AFTER">
	select SEQ_HOUSE.currval as houseNo from dual
	</selectKey>
		insert into HOUSE 
		values(SEQ_HOUSE.nextval, #{houseName}, #{houseAddress}, #{housePrice}, #{houseScore}, #{houseInfo}, #{memberId}, 
		#{detailId}, #{houseRoom}, #{houseBath}, #{houseHosting}, #{houseTv}, #{houseAircon}, #{houseWifi}, #{houseElebe}, #{houseWashing}, #{houseImg,jdbcType=VARCHAR}, #{houseDay})
	</insert>
	
	<update id="updateHouse" parameterType="house">
		update HOUSE set
		HOUSE_NAME=#{houseName}, HOUSE_INFO=#{houseInfo}, HOUSE_ADDRESS=#{houseAddress}, HOUSE_PRICE=#{housePrice},
		HOUSE_ROOM=#{houseRoom}, HOUSE_BATH=#{houseBath}, HOUSE_HOSTING=#{houseHosting}, HOUSE_TV=#{houseTv}, 
		HOUSE_AIRCON=#{houseAircon}, HOUSE_WIFI=#{houseWifi}, HOUSE_ELEBE=#{houseElebe},
		HOUSE_WASHING=#{houseWashing}, HOUSE_IMG=#{houseImg}, HOUSE_DAY=#{houseDay}
		where house_no=#{houseNo}
	</update>
	
	<delete id="deleteHouse" parameterType="int">
		delete HOUSE where HOUSE_NO = #{houseNo}
	</delete>
	
	<!-- 페이징 -->
	<select id="housePaging" parameterType="map" resultMap="houseBase">
		select * from (
			select sub.*, rownum as rnum from(
				select * from HOUSE
				order by HOUSE_NO desc
			) sub
		) where rnum &gt;= #{low,jdbcType=NUMERIC} and rnum &lt;= #{high,jdbcType=NUMERIC}
	</select>

	<resultMap type="house" id="houseBase">
		<id column="HOSUE_NO" property="houseNo" />
		<result column="HOUSE_NAME" property="houseName" />
		<result column="HOUSE_ADDRESS" property="houseAddress" />
		<result column="HOUSE_PRICE" property="housePrice" />
		<result column="HOUSE_SCORE" property="houseScore" />
		<result column="HOUSE_INFO" property="houseInfo" />
		<result column="MEM_ID" property="memberId" />
		<result column="DETAIL_ID" property="detailId" />
		<result column="HOUSE_ROOM" property="houseRoom"/>
		<result column="HOUSE_BATH" property="houseBath"/>
		<result column="HOUSE_HOSTING" property="houseHosting"/>
		<result column="HOUSE_TV" property="houseTv"/>
		<result column="HOUSE_AIRCON" property="houseAircon"/>
		<result column="HOUSE_WIFI" property="houseWifi"/>
		<result column="HOUSE_ELEBE" property="houseElebe"/>
		<result column="HOUSE_WASHING" property="houseWashing"/>
		<result column="HOUSE_IMG" property="houseImg"/>
		<result column="HOUSE_DAY" property="houseDay"/>
	</resultMap>
</mapper>