<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pojo.web.dao.QuestionToReplyMapper">

	<select id="selectAllQtr" resultMap="qtrBase">
		select * from QUESTION_TO_REPLY ORDER BY QUEST_REPLY_NO DESC
	</select>
	
	<select id="selectByQrNo" parameterType="int" resultMap="qtrBase">
		select * from QUESTION_TO_REPLY where QUEST_REPLY_NO=#{QuestReplyNo} 
		ORDER BY QUEST_REPLY_NO DESC
	</select>
	
	<select id="selectByQno" parameterType="int" resultMap="qtrBase">
		select * from QUESTION_TO_REPLY where QUEST_NO = #{questNo} 
		ORDER BY QUEST_REPLY_NO DESC
	</select>
	
	<insert id="insertQtr" parameterType="questionToReply">
		insert into QUESTION_TO_REPLY
		values (SEQ_QUESTION_REPLY.nextval, #{memberId}, #{questReplyContent}, sysdate, #{questNo})
	</insert>
	
	<update id="updateQtr" parameterType="questionToReply">
		update QUESTION_TO_REPLY set
		QUEST_REPLY_CONTENT=#{questReplyContent}, QUEST_REPLY_DATE=sysdate
		where QUEST_REPLY_NO = #{questReplyNo}
	</update>
	
	<delete id="deleteQtr" parameterType="int">
		delete QUESTION_TO_REPLY where QUEST_REPLY_NO = #{questReplyNo}
	</delete>
	
	<!-- 페이징 -->
	<select id="qtrPaging" parameterType="map" resultMap="qtrBase">
		select * from (
			select sub.*, rownum as rnum from(
				select * from QUESTION_TO_REPLY
				order by QUEST_REPLY_NO desc
			) sub
		) where rnum &gt;= #{low,jdbcType=NUMERIC} and rnum &lt;= #{high,jdbcType=NUMERIC}
	</select>

	<resultMap type="questionToReply" id="qtrBase">
		<id column="QUEST_REPLY_NO" property="questReplyNo" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="QUEST_REPLY_CONTENT" property="questReplyContent" />
		<result column="QUEST_REPLY_DATE" property="questReplyDate" />
		<result column="QUEST_NO" property="questNo" />
	</resultMap>
</mapper>