<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<!-- DTO에 대한 축약형 등록  -->
	<typeAliases>
	    <typeAlias type="com.example.dto.Member" alias="member"/>
	    <typeAlias type="com.example.dto.MemberDetail" alias="memberDetail"/>
	 	<typeAlias type="com.example.dto.House" alias="house"/>
	 	<typeAlias type="com.example.dto.RegistHouse" alias="registHouse"/>
	 	<typeAlias type="com.example.dto.Report" alias="report"/>
	 	<typeAlias type="com.example.dto.Question" alias="question"/>
	 	<typeAlias type="com.example.dto.Reply" alias="reply"/>
	 	<typeAlias type="com.example.dto.ReportToReply" alias="reportToReply"/>
	 </typeAliases>

	<mappers>
		<mapper resource="mybatis/mapper/memberMapper.xml"/>
		<mapper resource="mybatis/mapper/MemberDetailMapper.xml"/>
		<mapper resource="mybatis/mapper/HouseMapper.xml"/>
		<mapper resource="mybatis/mapper/RegistHouseMapper.xml"/>
		<mapper resource="mybatis/mapper/ReportMapper.xml"/>
		<mapper resource="mybatis/mapper/QuestionMapper.xml"/>
		<mapper resource="mybatis/mapper/ReplyMapper.xml"/>
		<mapper resource="mybatis/mapper/ReportToReplyMapper.xml"/>
	 </mappers>
	
  	
</configuration>